{% extends 'base/main.html' %}


{% block contents %}
<main class="flex-shrink-0">
    <div class="container my-5">
        <div class="d-flex flex-column justify-content-center align-items-center text-center">
            <h1 class="fw-bold w-50">Sistem Prediksi Berita Palsu Menggunakan Machine Learning</h1>
            <span>Prediksi berita anda disini.</span>
        </div>
        <form class="my-4 d-flex flex-column align-items-center">
            <div class="form-floating mb-3 w-100">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Masukkan judul berita</label>
            </div>
            <button type="submit" class="btn px-4 btn-primary rounded-pill">Prediksi Berita</button>
        </form>
	</div>
</main>
{% endblock contents %}