{% extends 'base/main.html' %}


{% block contents %}
<main class="flex-shrink-0">
    <div class="container my-5">
        <div class="d-flex flex-column justify-content-center align-items-center text-center">
            <h1 class="fw-bold w-50">Sistem Klasifikasi Berita Palsu</h1>
            <span>Klasifikasi berita anda dengan memasukan judul berita pada form, kemudian submit judul anda</span>
        </div>
        <form class="my-4 d-flex flex-column align-items-center" id="formSearch">
            <div class="form-floating mb-3 w-100">
                <input type="text" class="form-control" id="floatingInput" name="title" placeholder="name@example.com"
                    required>
                <label for="floatingInput">Masukkan judul berita</label>
            </div>
            <div class="alert alert-danger w-full" id="alertwarn" hidden></div>
            <div>
                <button type="submit" class="btn px-4 btn-primary rounded-pill">Klasifikasi Berita</button>
                <button type="button" id="syncnews" class="btn px-4 btn-secondary rounded-pill">Perbaharui data
                    berita</button>
            </div>
        </form>
    </div>
</main>
{% endblock contents %}


{% block scripts %}
<script>
    $(document).ready(() => {
        $("#cardresult").hide()
    })
    $("#formSearch").submit((ev) => {
        ev.preventDefault()
        const form = $(ev.target)
        $.ajax({
            type: "POST",
            url: "{{url_for('api.identify')}}",
            data: form.serialize(),
            beforeSend: () => {
                $("#cardresult").hide()
                $("button[id='syncnews']").attr('disabled', true)
                $("button[type='submit']").attr('disabled', true)
                $("button[type='submit']").empty()
                $("button[type='submit']").append(`<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>Loading...`)
                $("#alertwarn").attr('hidden', true)
                $("#alertwarn").empty()
            },
            success: (dt) => {
                if (dt.status) {
                    const url = "{{url_for('web.details', id=9999)}}".replace(9999, dt.data.id)
                    window.location.href = url
                }
                $("button[type='submit']").attr('disabled', false)
                $("button[type='submit']").empty()
                $("button[type='submit']").append(`Klasifikasi Berita`)
                $("button[id='syncnews']").attr('disabled', false)
            },
            error: (err) => {
                $("#alertwarn").append(err.responseJSON.message)
                $("#alertwarn").attr('hidden', false)
                toastr.error(err.responseJSON.message)
                $("button[type='submit']").empty()
                $("button[type='submit']").append(`Klasifikasi Berita`)
                $("button[type='submit']").attr('disabled', false)
                $("button[id='syncnews']").attr('disabled', false)
            }
        })
        return false
    })

    $("#syncnews").click((ev) => {
        ev.preventDefault()
        $.ajax({
            url: "{{url_for('api.syncNews')}}",
            method: "POST",
            beforeSend: () => {
                $("button[id='syncnews']").attr('disabled', true)
                $("button[type='submit']").attr('disabled', true)
                $("button[id='syncnews']").empty()
                $("button[id='syncnews']").append(`<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>Loading...`)
            },
            success: (dt) => {
                toastr.success(dt.message)
                $("button[id='syncnews']").attr('disabled', false)
                $("button[type='submit']").attr('disabled', false)
                $("button[id='syncnews']").empty()
                $("button[id='syncnews']").append(`Perbaharui data berita`)
            },
            error: (err) => {
                toastr.error("Gagal memperbaharui data berita")
                $("button[id='syncnews']").attr('disabled', false)
                $("button[type='submit']").attr('disabled', false)
                $("button[id='syncnews']").empty()
                $("button[id='syncnews']").append(`Perbaharui data berita`)
            }
        })
    })

</script>
{% endblock scripts %}